body{
    
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;

    background
        linear-gradient(
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),
    image: url('images/fondo-riego.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card{
    background-color: #C8E6C9; /* Verde claro */
    padding: 20px;
    margin: 15px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

iframe{
    background-color: #C8E6C9; /* Verde claro */
    width: 95%;
    height: 800px;
    border: none;
    margin-top: 20px;
}
